@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10em;
  overflow-x: hidden;
  font-family: "Lato";
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.main {
  min-height: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 1.5em;
}

/*Cursor style*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.form-box {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 10em 0;
}

.form {
  width: 35%;
  min-width: 500px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
    width: 100%;
    height: 2em;
    background-color: #fafafa;
    color: #252525;
    font-family: "Lato";
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2.7em;
  border: 1px solid #D8D8D8;
  background-color: #FCFCFC;
  padding-left: 1em;
  margin-top: 0.8em;
  font-size: 1em;
}

.generic-field {
  width: 80%;
  margin-top: 1em;
  font-size: 0.8em;
  font-family: "Lato";
}

.btn-submit {
  width: 81%;
  height: 3em;
  border: 3px solid #8367D8;
  background-color: #FFFFFF;
  font-size: 0.7em;
  font-family: "Lato";
  font-weight: bold;
  margin: 3em 0 1.5em 0;
}

.btn-login {
  width: 81%;
  height: 2em;
  font-family: "Lato";
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.63px;
  text-align: center;
  margin: 3em 0 3em 0;
  background: #8367D8;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
}

.validation-error {
  color: red;
  font-family: "Lato";
}

.footer {
  display: flex;
  justify-content: space-around;
  background: #252525;
  border: 1px solid #979797;
  width: 100%;
  height: 10em;
  position: absolute;
  bottom: 0;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer a {
  text-decoration: none;
  font-family: "Lato";
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 0.56px;
}

.footer-contact {
  font-family: "Lato";
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 0.56px;
}

.footer-text {
opacity: 0.5;
font-family: "Lato";
font-size: 1em;
color: #FFFFFF;
letter-spacing: 0.56px;
margin-top: 2em;
margin-bottom: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-top {
  background: #252525;
  height: 1.9em;
}

.header-middle {
  display: flex;
  align-items: center;
  min-width: 100%;
  background: #ffffff;
  height: 3em;
}

.header-middle-wrapper {
  margin-top: 0em;
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  margin-left: 3.5em;
  margin-top: 0.8em;
  width: 30%;
}

.search input {
  border: 1px solid #D8D8D8;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.08);
  padding: 0.7em 2em 0.7em 1em;
  color: #252525;
  letter-spacing: 0.63px;
  width: 100%;
}

.search button {
  background: url("https://firebasestorage.googleapis.com/v0/b/auction-internship-app.appspot.com/o/images%2F585e4ae9cb11b227491c3394.png?alt=media&token=1865bab4-55dd-418b-aa9c-08172ddd7d16") center center no-repeat;
  background-size: 1em;
  width: 2.3em;
  cursor: pointer;
  border: 1px solid #D8D8D8;
  
}

.search button:focus {
  outline: none;
}

.search button:hover {
  background-color: #f8f8f8;
}

.search input:focus {
  outline: none;
}

.search input:active {
  border: 1px solid #D8D8D8;
}

.logo {
  height: inherit;
  width: 5%;
  display: flex;
  margin-right: 0em;
}

.logo-line {
  background-color: #C4BFD6;
  border: 2px solid #C4BFD6;
  border-radius: 5%;
}

.line1 {
  display: flex;
  max-height: 35%;
  padding-top: 1.3em;
}

.logo-line1 {
  transform: rotate(50deg);
}

.line2 {
  display: flex;
  padding: 1em 1em 0.5em 0.2em;
  max-height: 35%;
}

.logo-line2 {
  transform: rotate(-40deg);
}

.line3 {
display: flex;
padding-top: 2em;
margin-left: -1em;
max-height: 35%;
}

.logo-line3 {
  transform: rotate(90deg);
}

.social-networks {
  color: #D8D8D8;
  margin-top: 0.2em;
}

.soc-icon {
  margin-right: 0.3em;
}

.header-text {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.6em;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.49px;
  background-color: #252525;
  border: none;
}

.header-or {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.6em;
  color: #9B9B9B;
  letter-spacing: 0.49px;
  margin: 0 0.8em 0 0.8em;
}

.header-title {
  font-family: "Lato";
  font-weight: lighter;
  font-size: 1em;
  color: #8367d8bb;
  letter-spacing: 0.84px;
  padding: 1.6em 0 0 0.8em;
}

.header-title a {
  text-decoration: none;
  color: inherit;
}

.category-item a {
  text-decoration: none;
  color: inherit;
}

.header-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.have-account {
  font-size: 0.7em;
  color: #9B9B9B;
  letter-spacing: 0.63px;
  margin-bottom: 4em;
  font-family: "Lato";
}

.login-word {
  text-decoration: none;
  color: #8367D8;
  letter-spacing: 0.63px;
  font-family: "Lato";
}

.status {
  display: flex;
  justify-content: center;
  background: #F0F3EE;
  letter-spacing: 0.63px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center; 
}

.status-content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-content button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
  font: inherit;
	cursor: pointer;
  outline: inherit;
  font-style: italic;
}

.status-success {
  color: #417505;
}

.status-error {
  color: tomato;
}

.status-info {
  color: #AB944E;
}

.page-name {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FAFAFA;
  font-family: "Lato";
  text-transform: uppercase;
  font-size: 0.7em;
  color: #252525;
  letter-spacing: 0.63px;
  width: 100%;
  height: 3em;
}

.page-name-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.page-home-nav {
  display: flex;
}

.page-name-nav {
  font-size: 1em;
  color: #8a8888;
  letter-spacing: 0.56px;
  font-weight: lighter;
}

.status a {
  text-decoration: none;
}

.helper {
  font-family: "Lato";
  padding: 3em 0 3em 0;
}

.helper-center {
  width: 70%;
  margin: auto;
}

.helper p {
  font-size: 0.8em;
color: #9B9B9B;
letter-spacing: 0.63px;
line-height: 25px;
padding-top: 1em;
}

@media screen and (max-width: 600px) {
    .form {
      width: 95%;
      min-width: 100px;
    }
    .helper {
      width: 95%;
      min-width: 100px;
    }
}


.product-right {
  font-family: "Lato";
  margin-left: 4em;
  max-width: 100%;
  max-height: 100%;
}

.product-right h2{
  color: #252525;
  letter-spacing: 1.61px;
}

.product-right h5 {
  margin-top: 1em;
  color: #8367D8;
  letter-spacing: 0.84px;
}

.bidding {
  margin: 1em 0 1em 0;
}

.bidding-field {
  display: flex;
}

.product-right button {
  margin-left: 1.5em;
}

.basic-button {
padding: 0.7em 2em 0.7em 2em;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  color: #252525;
  letter-spacing: 0.63px;
  font-weight: bold;
  font-size: 0.6em;
}

.error-button {
  margin-top: 3em;
  margin-bottom: 4em;
}

.err-page-btn {
  display: flex;
  justify-content: center;
}

.product-right button:hover {
  background: #f0f0f0;
}

.bidding label {
  font-size: 0.5em;
  color: #9B9B9B;
  letter-spacing: 0.52px;
  line-height: 22px;
}

.bid-input {
  width: 10em;
  background: #ECECEC;
  border: 1px solid #D8D8D8;
  height: 100%;
  padding-left: 1em;
  font-family: "Lato";
}

.bidding-info {
  margin: 3em 0 4em 0;
  font-size: 0.6em;
  color: #9B9B9B;
  letter-spacing: 0.56px;
}

.bidding-info p {
  display: inline;
  color: #8367D8;;
}

.product-details hr {
  margin: 1em 0 1em 0;
  background: #ECECEC;
}

.product-details h6 {
  margin-left: 1em;
  color: #252525;
  letter-spacing: 0.63px;
}

.product-details p {
  font-size: 0.6em;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 1.7em;
}

.product {
  display: grid;
  grid-template-columns: 50% 30%;
  margin: auto;
  margin-top: 3em;
  width: 85%;
}

.product-left {
  max-width: 80%;
  max-height: 100%;
}

.each-fade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.each-fade div {
  width: 80%;
}

.each-fade div img {
  width: 100%;
 
}

.related-product {
  width: 100%;
}

.product-preview {
  display: flex;
  flex-direction: column;
  font-family: "Lato";
  width: 100%;
}

.product-preview a {
  display: flex;
  align-items: center;
}

.product-preview img {
  max-width: 100%;
  margin-bottom: 0.5em;
  overflow-y: hidden;
  max-height: 13em;
  min-height: 13em;

}

.product-preview label {
  font-size: 0.7em;
}

.product-preview h4 {
  margin-bottom: 0.3em;
}

.related-products {
  margin: auto;
  margin-top: 4em;
  margin-bottom: 7em;
  font-family: "Lato";
  width: 80%;
}

.related-products hr {
  margin: 1em 0 1em 0;
  background: #ECECEC;
  width: 90%;
}

.related-products div {
  display: flex;
  justify-content: space-between;
}

.product-bidding-table {
  margin: auto;
  margin-top: 4em;
  margin-bottom: 7em;
  font-family: "Lato";
  width: 80%;
}

.product-bidding-table table {
  border: 1px solid #D8D8D8;
  width: 80%;
  font-size: 15px;
}
.heading-row {
  background: #F0F0F0;
  height: 3em;
  text-align: left;
}

.bider-row {
  height: 3em;
  max-width: 100%;
}

.bider-row img {
  margin: 1em 0 1em 2em;
  max-height: 3em;
  border-radius: 50%;
}

.bider-name {
  padding-left: 2em;
  width: 70%;
}

.bider-name-img {
  width: 10%;
}

.bider-name-text {
  font-weight: bold;
}

.status-code {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 20em;
  color: #8367D8;
  letter-spacing: 10.5px;
  text-shadow: 8px 10px 0 #DADADA;
}

.err-page-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  font-size: 1em;
  color: #252525;
  letter-spacing: 1.26px;
}

.home {
  font-family: "Lato";
  width: 100%;
}

.home-top {
  width: 100%;
  background: #FAFAFA;
  display: flex;
}

.home-top-inside {
  width: 80%;
  display: flex;
  margin: auto;
}

.home-category {
  background: #FFFFFF;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);
  min-width: 11em;
  
}

.home-category h5 {
  font-weight: bold;
  color: #8367D8;
  letter-spacing: 0.56px;
  margin-bottom: 1em;
  padding: 1em 0 0 1em;
}

.category-item {
  color: #252525;
  letter-spacing: 0.56px;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  padding: 1em 0 0 1em;
}

hr {
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
}

.home-top-feature {
  display: flex;
  align-items: center;
}

.home-top-feature img {
  width: 15em;
}

.home-top-product {
  width: 30%;
  margin: 0 4em 0 4em;
}

.home-top-product h2{
  color: #252525;
  letter-spacing: 1.61px;
}

.home-top-product h5 {
  margin: 1em 0 1em 0;
  color: #8367D8;
  letter-spacing: 0.84px;
}

.home-top-product button {
  margin-top: 1.5em;
  padding: 0.8em 2em 0.8em 2em;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  color: #252525;
  letter-spacing: 0.63px;
  font-weight: bold;
  font-size: 0.6em;
}

.home-top-product button:hover {
  background: #f0f0f0;
}

.home-top-product p {
  font-size: 0.6em;
  color: #252525;
  letter-spacing: 0.56px;
  line-height: 1.7em;
}

.bid-arrow {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 0.3em;
}

.feature-products {
  width: 80%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.feature-products hr {
  margin: 0.5em 0 0.5em 0;
}

.feature-products-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


.feature-products-collections {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.home-nav {
  margin-top: 2em;
  display: flex;
  width: 100%;
  border-bottom: 3px solid #ECECEC;
}

.home-nav h4 {
  margin-right: 2em;
}

.home-nav button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-family: "Lato";
  font-size: 1em;
  font-weight: bold;
  margin-right: 2em;
  padding-bottom: 0.5em;
  margin-bottom: -0.15em;
}

.home-nav button:active {
  outline: none;
  border: none;
}

.home-nav button:focus {
  outline: none;
  border-bottom: 3px solid#8367D8;
}

.landing-product {
  padding: 1em;
}

.arrivals {
  margin: 2em 0 1em 0;
}

.search-result {
  font-family: "Lato";
}

.info-message {
  padding: 1em 0 0 4em;
}

.filter-box {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  padding: 0.7em 1em 1em 1em;
  margin: 0 1em 1em 0;
}

.filter-box h5 {
  color: #8367D8;
  letter-spacing: 0.49px;
  margin-bottom: 1.5em;
}

.each-filter-text {
  font-size: 0.8em;
  color: #252525;
  margin-bottom: 1em;
  cursor: pointer;
}

.filter-category {
  display: flex;
  justify-content: space-between;
}

.filter-subcategories {
  color: #9B9B9B;
  margin-bottom: 1em;
  cursor: pointer;
  margin: 1.3em 0 2em 0;
}

.filter-subcategories-text {
  margin-top: 1em;
}

.histogram {
  margin-top: 1em;
  display: flex;
  align-items: flex-end;
  height: 2em;
}

.chart-bar {
  background-color: #E4E5EC;
}

.shop-page {
  display: flex;
  width: 100%;
}

.filters {
  min-width: 25%;
}

.shop-products {
  width: 75%;
}

.shop-header {
  display: flex;
  justify-content: space-between;
}

.shop-header span {
  display: flex;
  padding: 0.5em 0.7em  0.5em 0.7em;
  cursor: pointer;
  letter-spacing: 0.56px;
}

.span-active {
  background-color:  #8367D8;
  color: white;
}

.shop-header label {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  margin-left: 0.5em;
  cursor: pointer;
}

.shop-header-view {
  display: flex;
}

.sorting-dropdown {
  padding: 0.5em 0.7em  0.5em 0.7em;
  border: 3px solid #ECECEC;
  color: #252525;
  letter-spacing: 0.56px;
}

.sorting-dropdown:active {
  border: 3px solid #ECECEC;
}

.shop-page-grid {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.shop-grid-product {
  margin-top: 1em;
}

.container {
  position: relative;
  width: 90%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  width: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(131, 103, 216, 0.3)
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  background-color: #FFFFFF;
  font-size: 15px;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
  position: absolute;
  padding: 0.5em 1.5em 0.5em 1.5em;
  cursor: pointer;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.shop-bid-button {
  border: 3px solid #ECECEC;
  color: #252525;
  letter-spacing: 0.52px;
  line-height: 22px;
  font-size: 0.7em;
  padding: 0.2em 1.5em 0.2em 1.5em;
  cursor: pointer;
  width: 3.5em;
  margin-top: 2em;
}

.shop-bid-button:hover {
  background-color: rgba(131, 103, 216);
}


.product-preview-list {
  display: flex;
  font-family: "Lato";
  width: 100%;
}

.image-list {
  display: block;
  width: 100%;
  height: auto;
  margin-right: 2em;
}

.image-list img {
  width: 100%;
}

.product-preview-list p {
  font-size: 0.7em;
  color: #9B9B9B;
  letter-spacing: 0.56px;
  line-height: 21px;
  margin-bottom: 1.5em;
}

.product-preview-list label {
  font-size: 1em;
  color: #8367D8;
  letter-spacing: 0.84px;
}

.product-preview-list h4 {
  margin-bottom: 0.5em;
  color: #252525;
  letter-spacing: 0.84px;
}

.heading-filter {
  display: flex;
  justify-content: space-between;
}

.cancel {
  cursor: pointer;
}

.cancel:hover {
  color: red;
}

.header-nav {
  margin-top: 0.8em;
}

.header-nav a {
  text-decoration: none;
  margin-left: 1em;
  font-size: 0.7em;
  font-family: "Lato";
  letter-spacing: 0.56px;
}
.nav-active {
  font-weight: bold;
  color: #8367D8;
}

.nav-inactive {
  color: #252525;
}

.active-name {
  display: flex;
  padding: 0.5em;
  width: fit-content;
  background-color:#f1f0f0;
  border-radius: 10px;
  margin-right: 1em;
}

.explore-more {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.explore-more button {
  background: #8367D8;
  font-size: 0.7em;
  color: #FFFFFF;
  letter-spacing: 0.63px;
  padding: 0.7em 2em 0.7em 2em;
  border: none;
}

.explore-more button:hover {
  background: #7a5fc8;
}

.explore-more button:focus {
  outline: none;
}

.explore-disable {
  display: none;
}

.slider {
    margin-top: -0.1em;
    padding-top: 0;
}

.slider>.rc-slider-track {
    cursor: pointer;
    background-color: #8367D8;
    border-radius: 0.1em;
    height: 0.1em;
}

.slider>.rc-slider-rail {
    cursor: pointer;
    background-color: #E4E5EC;
    border-radius: 0.1em;
    height: 0.1em;
}

.slider>.rc-slider-step {
    cursor: pointer;
    height: 0.1em;
}

.slider>.rc-slider-handle {
    width: 1em;
    height: 1em;
    background-image: radial-gradient(circle, #8367D8 40%, #ffffff 40%);
    margin-top: -0.5em;
    border: 1px solid #E4E5EC;
}

.slider>.rc-slider-handle:hover {
    border: 1px solid #b4b1af;
}

.price-labels {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.price-labels label {
  margin-top: 0.5em;
  color: #9B9B9B;
  letter-spacing: 0.49px;
  font-size: 0.6em;
}

.selected-filters {
  display: flex;
}

.about-us {
  display: flex;
}

.about-us-text {
  width: 45%;
  padding-right: 10%;
}

.about-us-images {
  max-width: 45%;
}

.about-us-images img {
  max-width: 100%;
}

.about-us-bottom-images {
  display: flex;
}
.about-us-bottom-images img {
  margin-right: 4%;
  margin-top: 1em;
  max-width: 48%;
}

.profile-header {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

.profile-header-icon {
  margin-right: 0.3em;
}

.nav-profile-button {
  display: flex;
  align-items: center;
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.7em;
  letter-spacing: 0.56px;
  color: #252525;
  background-color: #F0F0F0;
  padding: 0.8em 2.5em 0.8em 2.5em;
  margin-right: 1em;
  cursor: pointer;
}

.nav-profile-button label {
  cursor: pointer;
}

.nav-profile-button-active {
  background-color: #8367D8;
  color: #FFFFFF;
}

.user-box {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
}

.settings-page {
  display: flex;
  justify-content: space-between;
}

.settings {
  font-family: "Lato";
  font-size: 0.8em;
  color: #252525;
  letter-spacing: 0.63px;
  height: 15em;
  min-width: 47%;
}

.settings-heading {
  max-width: 100%;
  background-color: #F0F0F0;
  padding: 0.5em 1.5em 0.5em 1.5em
}

.settings-contact {
  color: #8367D8;
  margin-left: 1em;
}

.settings-text {
  display: flex;
  align-items: center;
  padding: 1em 0.5em 1em 1.5em;
}

.settings-text-notf {
  padding: 0.2em 0.5em 0.5em 1.5em;
}

.settings-text-notf input[type="checkbox"] {
  margin-right: 1em;
  border-color: #D8D8D8;
  outline: 1px solid #D8D8D8;
}

.user-bids {
  margin-top: 2em;
  margin-bottom: 7em;
  font-family: "Lato";
  width: 100%;
}

.user-bids table {
  border: 1px solid #D8D8D8;
  width: 100%;
  font-size: 0.75em;
}

.user-bids-heading {
  padding-left: 1em;
  background: #F0F0F0;
  height: 3em;
  font-weight: 500;
  color: #252525;
  letter-spacing: 0.63px;
}

.user-bids-item {
  padding-left: 2em;
  width: 10%
}

.user-bids td {
  width: 12.5%;
}

.user-bids tr {
  margin-top: 1em;
}

.user-bids img {
  padding-left: 2em;
  padding-top: 0.7em;
  width: 40%;
}

.user-bids-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-bid-view {
  background: #FFFFFF;
  border: 3px solid #E3E3E3;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
  font-weight: bold;
  width: 40%;
  padding: 0.5em 1em 0.5em 1em;
  cursor: pointer;
}

.user-bid-view:hover {
  background: #fbfafa;
}

.profile {
  min-width: 100%;
  display: flex;
}

.profile-box {
  margin-top: 1em;
}

.profile-heading {
  padding: 0.5em 1em 0.5em 1.5em;
  background: #FAFAFA;
  color: #252525;
  letter-spacing: 0.7px;
  font-weight: bold;
}

.profile-image {
  padding: 1.5em 2em 0 1.5em;
  width: 20%;
}

.profile-image img {
  max-width: 100%;
}

.change-image-button {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: #FFFFFF;
  margin-top: -1em;
  border: 3px solid #E3E3E3;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.05);
  color: #252525;
  letter-spacing: 0.56px;
  font-size: 0.7em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.change-image-button:hover {
  background-color: #fbfafa;
}

.change-image-button label {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  height: 100%;
  margin: 0.5em 1em 0.5em 1em;
}

.hidden {
  visibility: hidden;
}

.profile-info {
  width: 50%;
  padding: 0.5em 2em 2em 1.5em;
}

.birth-date {
  display: flex;
}

.profile-generic {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  font-size: 0.8em;
}

.profile-input {
  width: 100%;
  height: 2.7em;
  border: 1px solid #D8D8D8;
  background-color: #FCFCFC;
  padding-left: 1em;
  margin-top: 0.8em;
  font-size: 1em;
}

.profile-phone {
  width: 70%;
  height: 2.7em;
  border: 1px solid #D8D8D8;
  background-color: #FCFCFC;
  padding-left: 1em;
  margin-top: 0.8em;
  font-size: 1em;
}

.phone-verified {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  width: 30%;
  margin-right: -1em;
  margin-top: 0.8em;
  color: #417505;
}

.gender-dropdown {
  width: 40%;
  margin-top: 0.7em;
  margin-right: 1em;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}

.gender-dropdown-menu {
  border-top: 1px solid #D8D8D8;
  margin-top: 1em;
}

.gender-dropdown-menu>* {
  cursor: pointer;
  padding-top: 0.5em;
}

.month-wrapper {
  width: 15%;
  margin-right: 2.5em;
}

.day-wrapper {
  margin-right: 2.5em;
  width: 7%;
}

.year-wrapper {
  margin-right: 2.5em;
  width: 15%;
}

.month-dropdown {
  width: 100%;
  margin-top: 0.7em;
  margin-right: 1em;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}

.birth-dropdown-menu {
  margin-right: -1em;
  border-top: 1px solid #D8D8D8;
  margin-top: 1em;
  max-height: 10em;
  overflow-y: scroll;
}

.birth-dropdown-menu>* {
  cursor: pointer;
  padding-top: 0.5em;
}

.day-dropdown {
  width: 100%;
  margin-top: 0.7em;
  margin-right: 1em;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}

.year-dropdown {
  width: 100%;
  margin-top: 0.7em;
  margin-right: 1em;
  background: #FCFCFC;
  border: 1px solid #D8D8D8;
  font-size: 0.8em;
  padding: 0.5em 1em 0.5em 1em;
}

.profile-label {
  margin-top: 0.5em;
}

.control-dropdown {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/auction-internship-app.appspot.com/o/images%2Farrow-down-sign-to-navigate.png?alt=media&token=58b87fc7-3ba0-4d02-8919-3243a8e447cd");
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  margin-right: -0.4em;
  padding: 0.25em 0 0.25em 0;
}

.address-heading {
  color: #252525;
  letter-spacing: 0.98px;
  margin-top: 1em;
}

.city-zip {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.address-width {
  width: 45%;
}

.card-ckeckbox {
  padding: 0.2em 0.5em 0.5em 0em;
}

.card-ckeckbox input[type="checkbox"] {
  margin-right: 1em;
  border-color: #D8D8D8;
  outline: 1px solid #D8D8D8;
}

.accept-cards {
  color: #9B9B9B;
  letter-spacing: 0.56px;
  line-height: 26px;
  font-size: 0.7em;
  padding-left: 2em;
}

.cards-logos {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  display: flex;
}

.cards-logos div {
  margin-right: 0.5em;
}
.card-exp {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  padding-top: 0.2em;
}

.month-wrapper-exp {
  width: 35%;
  padding-right: 0.8em;
}

.year-wrapper-exp {
  width: 35%;
}

.exp-date {
  justify-content: space-between;
}

.save-info-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 2em 0 5em 0;
}

.save-info-button button {
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  color: #252525;
  letter-spacing: 0.63px;
  font-weight: bold;
  padding: 0.5em 3em 0.5em 3em;
  outline: none;
  cursor: pointer;
}

.save-info-button button:hover {
  background-color: #f8f8f8;
}

@media screen and (max-width: 750px) {
    .product {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .product-right {
      width: 80%;
      margin: auto;
      margin-top: 2em;
    }
    .product-left {
      width: 80%;
      margin: auto;
    }
    .product-preview img {
      max-width: 100%;
      margin-bottom: 1em;
      overflow-y: hidden;
      min-height: 10em;
      max-height: 10em;
    }
    .product-bidding-table {
      width: 100%;
    }
    .product-bidding-table table {
      width: 100%;
    }
    .bider-name {
      padding-left: 0.5em;
      width: 50%;
    }
    .bider-row img {
      margin: 1em 0 1em 0.5em;
      max-height: 3em;
      border-radius: 50%;
    }
    .about-us {
      display: flex;
      flex-direction: column;
    }
    .about-us-text {
      width: 100%;
      padding-right: 0;
    }

    .about-us-images {
      padding-top: 2em;
      max-width: 100%;
}
}

@media screen and (max-width: 1200px) {
    .home-top-inside {
      margin-left: 1em;
      width: 100%;
    }
    .feature-products {
      margin-left: 1em;
      width: 100%;
    }

    .settings-page {
      display: flex;
      flex-direction: column;
    }

    .user-box {
      margin-top: 1em;
      margin-bottom: 1em;
    }
}

@media screen and (max-width: 930px) {

    #root {
      overflow-x: hidden;
    }

    .home-top-feature {
      display: flex;
      flex-direction: column-reverse;
    }
    .home-top-product {
      width: 80%;
      margin: 0 5em 2em 4em;
    }

    .feature-products-list {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }

    .feature-products-collections {
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
    }


    .landing-product {
      min-width: 50%;
    }

    .home-top-feature img {
      width: 10em;
    }

    .user-bids {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .user-bids table {
      min-width: 60em;
    }

    .profile {
      flex-direction: column;
      align-items: center;
    }

    .profile-image {
      width: 50%;
    }

    .profile-info {
      width: 85%;
    }

    .month-wrapper {
      width: 25%;
      margin-right: 2.5em;
    }

    .day-wrapper {
      margin-right: 2.5em;
      width: 10%;
    }

    .year-wrapper {
      margin-right: 2.5em;
      width: 18%;
    }

    .city-zip {
      flex-direction: column;
    }

    .address-width {
      width: 100%;
    }

}